.google-login-button {
  display: inline-block;
  overflow: hidden;
  max-width: 200px; /* Set a maximum width for the container */
}

.google-login-image {
  width: 100%;
  height: auto;
  display: block;
}
